
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills/skills";
@import "sections/section-skills/skill-item";
@import "sections/section-skills/skill-item-nth";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";


@media (min-width: 992px) {
  h1 {
    font-size: 3.75rem;
  }

  .header-content__tittle {
  margin: 0 0 53px 0;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .header-content__tittle {
    margin: 0 0 43px 0;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.875rem;
  }

  .header-content__tittle {
    margin: 0 0 33px 0;
  }
}



