
@import "../../libs/normalize-scss/sass/normalize/import-now";
/*@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";*/

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #637588;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3.75rem;
}

h2 {}

p{}

a {
  text-decoration: none;
  color: #ffffff;
}

input {}

.btn {
  display: block;
  padding: 18px 20px;
  /*height: 60px;*/
  font-size: 1.25rem;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 250px;
  text-align: center;
  letter-spacing: 0.1em;
}

.header {
  min-height: 100vh;
  background-color: #2d3651;
  background-image: url(../img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 100px 0;
}

.header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2d3651;
  opacity: 0.8;
}

.header-menu {
  position: absolute;
  top: 0;
  width: 100%;
}

.header-menu__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header-menu__container,
.header-content__container {
  max-width: 1340px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-logo {
  font-size: 1.5rem;
  letter-spacing: 0.22em;
}

.header-logo__link {
  display: block;
  padding: 20px 20px 20px 0;
}

.header-logo__accent {
  display: inline-block;
  border: 3px solid #d53d27;
  padding: 14px 1px 13px 5px;
  margin-right: 4px;
}

.header-navbar {
  display: flex;
  justify-content: flex-end;
}

.header-navbar__btn {
  display: none;
}

.header-navbar__list {
  list-style: none;
  margin: 0 -20px 0 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  justify-content: end;
}

.header-navbar__link {
  padding: 20px;
  display: block;
  font-size: 1.125rem;
  letter-spacing: 0.09em;
}

.header-content {
  position: relative;
  width: 100%;
}

.header-content__tittle {
  color: #ffffff;
  margin: 0 0 53px 0;
  text-align: center;
  letter-spacing: 0.078em;
  font-weight: 300;
  line-height: 1.2;
}

.header-content__buttons {
  display: flex;
  justify-content: center;
}

.header-content__buttons .btn:first-of-type {
  margin-right: 20px;
}




