.skill-item {
  position: relative;
  background-color: $color-primary;
  min-height: calc(33.333vh - 13.3px);
  overflow: hidden;
  /*TODO: no less then 200px height*/

  &__image {
    @include abs-position;

    background-position: 50% 50%;
    background-size: cover;
    transition: transform 0.5s;
  }

  &__overlay {
    @include abs-position;

    z-index: 1;
    background-color: $color-primary;
    opacity: 0.8;
    transition: opacity 0.5s;
  }

  &__tittle {
    z-index: 2;
    margin: 0;

    @include abs-position;
  }

  &__link {
    display: flex;
    padding: 20px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    transition: color 0.5s;
  }

  &:hover {
    .skill-item__overlay {
    opacity: 0.95 !important;
    }

    .skill-item__image {
      transform: scale(1.1);
    }

    .skill-item__link {
      color: $color-accent;
    }
  }
}
