.header-menu
{
    position: absolute;
    top: 0;

    width: 100%;

    &__container
    {
        display: grid;

        grid-template-columns: auto 1fr;
        align-items: center;
        @extend %container;
    }
}
