.header-navbar {
  display: flex;
  justify-content: flex-end;

  &__btn {
    display: none;
  }

  &__list {
    @include unlist(0 -20px 0 0);

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    justify-content: end;
  }

  &__link {
    padding: 20px;
    display: block;
    font-size: 1.125rem;
    letter-spacing: 0.09em;
    transition: color 0.5s;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
